h1 {
    display: "inline-flex";
    flex-wrap: wrap;
    text-align: center;
    font-family: "Montserrat";
}

h2 {
    display: "inline-flex";
    flex-wrap: wrap;
    text-align: center;
    font-family: "Montserrat";
    font-size: 20px;
}



img {
    display: "inline-flex";
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 70%; */
    /* object-fit: contain; */
    width:  120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    
    
}


.btn-group-lg{
    float: right;
}

div.col {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
}

.emoji-button {
    border: none;
    background: none;
    padding: 0 0.25rem;
    cursor: pointer;
    background-color: white;
  }
  
.emoji-button.favorite {
    color: transparent;
    text-shadow: 0 0 0 gray;
    background-color: white;
  }

.card {
    margin: auto;
    float: none;
    width: 200px;
    height: 200px;
    margin-bottom: 10x;
    font-family: "Montserrat"
}
.card-text {
    font-style: oblique;
}

.card-header {
    font-weight: bold;
}

