h1 {
    display: "inline-flex";
    flex-wrap: wrap;
    text-align: center;
    font-family: "Lucida Console";
}

h2 {
    display: "inline-flex";
    flex-wrap: wrap;
    text-align: center;
    font-family: "Lucida Console";
    font-size: 20px;
}



img {
    display: "inline-flex";
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 70%; */
    /* object-fit: contain; */
    width:  120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    
}

.scheduled-plants {
    margin-top: 8em;
}

.btn-group-lg{
    float: right;
}

div.col {
    margin-top: 4em;
}

/* div.row {
    margin: auto;
} */

/* .scheduled-plants {
    display: flex;
    flex-wrap: wrap;
    font-family: "Lucida Console";
    font-size: 10px;
    text-align: center;
  } */

  /* .column { */
    /* flex-wrap: wrap; */
    /* flex: 25%;
    padding: 5px;
  } */