h1 {
    display: "inline-flex";
    text-align: center;
    font-family: "Lucida Console";
}

h2 {
    display: "inline-flex";
    text-align: center;
    font-family: "Lucida Console";
    font-size: 20px;
}