.card{
    font-family: "Montserrat"
}

.card-subtitle.h6 {
    font-style: italic;
    font-size: 8px;
    text-align: center;
}
.card-title.h5{
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

p.card-text {
    font-size: 7px;
    font-style: normal;
    text-align: center;
}

button.btn-xs {
    font-size: 7px;
    font-family: "Montserrat"
}

.card-img {
    display: "inline-flex";
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 70%; */
    /* object-fit: contain; */
    width:  120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}